.animation-fade-in {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  transform: translateY(25px);

  &.show {
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0s;
    transform: translateY(0px);
  }
}

.animation-block {
  .animation-hero {
    opacity: 0;
  }

  &.show {
    h1 {
      transition: 0.3s;
      transition-delay: 0.3s;
      opacity: 1;
    }

    p {
      transition: 0.3s;
      transition-delay: 0.6s;
      opacity: 1;
    }

    a {
      transition: opacity 0.3s;
      transition-delay: 0.9s;
      opacity: 1;
    }
  }
}

.card-cases {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
}

.video-w {
  max-width: 845px !important;
}


.usp-item:nth-of-type(n + 4) {
  display: none !important;
}



.boxshadow {
  border-radius: 16px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}




@media (min-width: 845px) {
  .boxshadowsmall {
    border-radius: 8px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  }

}